[hub]
	protocol = https
[user]
    email = ibrahim.m.fadel@gmail.com
    name = Ibrahim Fadel
    signingkey = 5C65EF2E
[gpg]
	program = gpg
[commit]
	gpgsign = true
[alias]
	logs = log --show-signature
[core]
	editor = vim
